@import "tailwindcss";

:root {
  --yellow: #E6AD06;
  --green: #033922;
  --lgreen: #63BF7C;
}


.container{
  display: flex;
  flex-direction: column;
}

form{
  display: flex;
  flex-direction: column;
}